autom4te.cache/
include/clixon_config.h
config.log
config.status
Makefile
TAGS
clixon_util_datastore
clixon_util_dispatcher
clixon_util_grpc
clixon_util_insert
clixon_util_json
clixon_util_path
clixon_util_regexp
clixon_util_socket
clixon_util_stream
clixon_util_validate
clixon_util_xml
clixon_util_xml_mod
clixon_util_xpath
clixon_util_yang
clixon_netconf_ssh_callhome
clixon_netconf_ssh_callhome_client
clixon_restconf_callhome_client

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

